//Typographie
$font-primary: "Montserrat", sans-serif;

$size48: 3rem;
$size36: 2.25rem;
$size24: 1.5rem;
$size18: 1.125rem;
$size14: 0.825rem;

$weigh-thin: 400;
$weigh-normal: 500;
$weigh-bold: 700;

//color
$primary-color : #FF6060;
$secondary-color: #F6F6F6;
$tertiary-color: #000000;

$linear-color: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
